general.game = "tanksoar";
general.map = "bin/games/maps/tanksoar/default.txt";
general.headless = true;
general.runs = 500; # set to run nearly forever
soar.soar_print = true;
soar.spawn_debuggers = true;
players.active_players = [ "tank1", "tank2", "tank3", "tank4", "tank5", "tank6"  ];
#players.tank1.color = "blue"; # These can be added to set the colors of the tanks for recording wins
players.tank1.productions = "/home/alex/repos/CPS_592_project/simple-bot.soar";
players.tank2.productions = "/home/alex/repos/CPS_592_project/simple-bot.soar";
players.tank3.productions = "/home/alex/repos/CPS_592_project/simple-bot.soar";
players.tank4.productions = "/home/alex/repos/CPS_592_project/simple-bot.soar";
players.tank5.productions = "/home/alex/repos/CPS_592_project/simple-bot.soar";
players.tank6.productions = "/home/alex/repos/CPS_592_project/simple-bot.soar";
terminals.winning_score = 50;
